@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
    background-color: rgb(7, 39, 109);
}
#content{
    color: white;
}
#result{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav_bar{  /*Styling nav bar*/
    color:red; 
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    height:15vh;
    line-height: 15vh;
    padding-right: 10px;
    text-align: center;
}
#first{      /*Styling Login Form*/
    align-items: center;
    background-color: rgb(175, 28, 28);
    border:2px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(68, 61, 61);
    display: flex;
    flex-direction: column;
    height:350px;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    position: relative;
    top:15vh;
    width:400px;  
}
#second{    /*Styling Signup form*/
    align-items: center;
    background-color: rgb(175, 28, 28);
    border:2px solid white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(68, 61, 61);
    display: flex;
    flex-direction: column;
    height:350px;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    position: relative;
    top:-43vh;
    visibility: hidden;
    width:400px;
}
::-webkit-input-placeholder {/*Place the Placeholder in Centre of Input field*/
    text-align: center;
 }
input:not([type="submit"]){
    border:3px solid gray;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
    height:40px;  
    width: 250px; 
}
#sum,#creation,#signup,#sum1{
    background-color: orangered;
    border:1px solid white;
    border-radius: 25px;
    font-size: larger;
    height:35px;
    outline: none;
    width:150px;
}
button{
    margin-bottom: 20px;
}
.login{
    color: green;
    font-family: 'Cabin', sans-serif;
    font-size:30px;
    font-weight: bolder;
    text-align: center;
}
.sgnup{
    color:green;
    font-family: 'Cabin', sans-serif;
    font-size:30px;
    font-weight: bolder;
    text-align: center;
}
.wrong{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
