body{
    background-color: rgb(7, 39, 109);
    box-sizing: border-box;
    color: white;
    height:100vh;
    margin:0;
    padding: 0%;
    width:100%;  
}
.filter{
    background-color: orangered;
    border: none;
    color: white;
    cursor:pointer;
    display: block;
    margin: auto;
    outline: none;
    position: relative;
    top:5px;
    width: 100px;
}
.filter:hover{
   box-shadow: 2px 2px 5px black;
}
.popup{
    background-color: gray;
    border-radius: 20px;
    color: black;
    display: none;
    font-weight: bolder;
    height: 350px;
    left:35%;
    text-align: center;
    position: absolute;
    top: 25%;
    width:400px;
}
.popup>label:first-child{
    color: yellow;
}
form{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    height: 330px;
    margin-top: 5px;
}
#loc,.theater,#dates,#typ,#lang{
    border:1px solid red;
    border-radius: 20px;
    margin: auto;
    outline: none;
    width:200px;
}
#submit{
    background-color: red;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: auto;
    outline: none;
    width: 100px;
}
#cross{
    color: white;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top:0;
    
}
label{
    font-family: 'Courier New', Courier, monospace;
}
.time{
    align-items: center;
    display: flex;
    font-size:50px;
    justify-content: space-evenly;
    height:15vh;
    margin-left: 8%;
    width: 100%;
}
.screen{
    align-items: center;
    display: flex;
    height:250px;
    justify-content: space-between;
    width: 100%; 
}
#logo{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    top:30px;
}
.screen>div:first-child{
    font-size: 40px;
}
.movie_dtl{
    align-items: center;
    background-color:white;
    border: 3px solid orangered;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    height:220px;
    justify-content: space-evenly;
    padding:0;
    width:200px; 
}
.screen>div>div:first-child{
    font-weight: bolder;
    text-align: center;
}
.movie_img{
    border:2px solid black;
    height: 150px;
    width:150px;
}