body{
    background-color: rgb(7, 39, 109);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.nav_bar{  /*Styling nav bar*/
    color:red; 
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    height:15vh;
    line-height: 15vh;
    padding-right: 10px;
    text-align: center;
    width: 100%;
}
.location{
    align-items: center;
    background:linear-gradient(to right,red,orangered);
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px gray;
    display: flex;
    flex-direction: column;
    height:350px;
    justify-content: space-evenly;
    margin:auto;
    padding-top: 5px;
    position: relative;
    top:10vh;
    width:400px; 
}
form{                                       /*Styling the form*/
    width:400px;
    height:400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    color: yellow;
    font-size:50px;
    font-weight: bolder;  
}

#loc,[type=date],.theater{
    border:2px solid black;
    border-radius: 20px;
    font-size: larger;
    height:35px;
    outline: none;
    width:300px;   
}
[type=date]{
    height:30px;
}
[type=submit]{
    border:2px solid black;
    border-radius: 20px;
    font-size: larger;
    height: 35px;
    outline: none;
    width:105px; 
}
.theater{
    display: none;
}

