body{
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
}
.location{
    align-items: center;
    background:linear-gradient(to right,red,orangered);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height:350px;
    justify-content: space-evenly;
    margin:auto;
    padding-top: 5px;
    position: relative;
    top:25vh;
    width:400px; 
}
form{                                       /*Styling the form*/
    width:400px;
    height:400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
    color: yellow;
    font-size:50px;
    font-weight: bolder;  
}

#loc,[type=date],.theater{
    border:2px solid black;
    border-radius: 20px;
    font-size: larger;
    height:35px;
    outline: none;
    width:300px;   
}
[type=date]{
    height:30px;
}
[type=submit]{
    border:2px solid black;
    border-radius: 20px;
    font-size: larger;
    height: 35px;
    outline: none;
    width:105px; 
}
.theater{
    display: none;
}

