.container{
    background-color: gray;
    height:100vh;
    width:100%;
}
.screen{
    align-items: center;
    background-color: black;
    border:3px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height:75vh;
    justify-content: space-evenly;
    margin:auto;
    padding: 0 15px;
    position: relative;
    top:12%;
    width:50%; 
}
.seats{
    display: grid;
    grid-auto-rows: minmax(20px,auto);
    grid-gap: 5px;
    grid-template-columns: repeat(10,1fr);
    height: 50vh;
    width:100%;
}
.seating{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;   
}
.new{
    margin-top: 20px;
}
button{
    background-color:blueviolet;
    border:2px solid rgb(0, 255, 34);
    border-radius: 20px;
    height: 30px;
    outline: none;
    width: 100px; 
}
a{
    font-size: larger;
    text-decoration: none;
}
.seating:hover{
    cursor:pointer;
}
.screen>span{
    background-color: white;
    border: 3px solid blue;
    border-radius: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width:200px;
}
#result{
    color:yellow;
    font-size: larger;
}
#total{
    color: white;
    font-size: larger;
}
#popup{
    align-items: center;
    background-color: white;
    border: 3px solid rgb(0, 255, 34);
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    height:100px;
    justify-content: space-evenly;
    left:39%;
    position: absolute;
    top:40%;
    visibility: hidden;
    width:300px;
}
#popup>button{
    border: 1px solid black;
    color: white;
    font-weight: bold;
}

